<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">

        <div class="row">
          <div class="col-md-6">
            <h3>All Gigs</h3>
          </div>
        </div>

        <div class="panel-body">
          <% @services.each do |service| %>
            <div class="row">
              <div class="col-md-2">
                <a href="<%= service_path(service) %>">
                  <%= image_tag service.image.url(:thumb) %>
                </a>
              </div>
              <div class="col-md-7">
                <h4><%= link_to service.title, service_path(service) %></h4>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>


