<div class="container section">
  <h1>
    Newest Gigs
  </h1>
  <div class="row">
    <% @services.each do |service| %>
      <div class="col-md-3">
        <%= link_to(service) do %>
          <div class="gig-card">
            <center><%= image_tag service.image.url(:small)%></center>
            <h4>
              <%= service.title %>
            </h4>
            <h3>
              $<%= service.price %>
            </h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
