<div class="hero">
  <div class="container">
    <div class="row">
      <div class="hero-heading">
        What do you need done? <br/>
        Find it on <%= app_name %>.
        <p>Browse. Buy. Done. </p>
      </div>
    </div>
    <%= render 'search/form' %>

  </div>
</div>
<%= render 'newest_gigs' %>

